/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #81AE40;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

table {
	border-spacing: 5px;
	border-collapse: separate;
	font-size:1em;
    font-family: 'Courgette';
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

	

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #81ae40;  
}

.footer-container {
    color:white;
}

.header-container, .footer-container {
	background: #406D00;
}

.nameday-container {
	background: #D8D8FF;
	margin-top:15px;
	color:#406D00;
	text-align: center;
	font-family: 'Courgette';
}

.title {
	display:block;
    color: white;
}

.header-container { 
	text-align: center;
	}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size:1.2em;
    font-family: 'Courgette';
    color: white;
    background: #406d00;
    border-left: 1px solid #537C19;
    border-right: 1px solid #537C19;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    background: #537C19;
    color: white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 15px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: black;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1,h2,h3,h4,h5,h6 {
	color: #2D4C00;
	font-family: 'Courgette';
	text-shadow: 1px 1px #CCCCCC;
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(http://themes.googleusercontent.com/static/fonts/courgette/v2/Gkr63O-aJXf4Mv4t7cBUcj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.green {
	color:#2D4C00;
	font-weight: bold;
}

.blue {
	color:#3333FF;
	font-weight: bold;
}

.black {
	color:black;
}

.float_right {
	float:right;
}

section {
	border-bottom: 1px solid #2D4C00;
	overflow: auto;
}

p {
	font-family: "Courgette";
	font-size: 1.1em;
}

a.button_link {
	display: inline-block;
	width:auto;
	
	text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size:.8em;
    font-family: 'Courgette';
    color: #537C19;
    background: white;
    border: 1px solid #537C19;
    padding-left:5px;
    padding-right: 5px;
    padding-top:3px;
    padding-bottom: 3px;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

a.button_link:hover {
	background: #81AE40;
	color:white;
}

a.active {
	background: #537C19;
}

footer h4{
	color:white;
	text-shadow: none;
	}

footer a {
	color:white;
	text-decoration: none;
	border-bottom: 1px dotted white;
}

.fb_button {
	display: none;
}

.rslides {
	display: none;
}

.header_contact {
	color:white;
	margin-top:10px;
}

.search {
	margin-top:10px;
}

table a {
	color:black;
}

.service_wrapper {
    	float: none;
    	width: 95%;
    	height: auto;
    	border: 1px dotted #2D4C00;
    	margin: 5px;
    	padding-bottom:5px;
    	text-align: center;
    	
    }

.service_wrapper img {
	max-width:90%;
	width:auto;
	max-height:90%;
	height:auto;
}

.service_wrapper a {
	text-decoration: none;
	border-bottom: 1px dotted #537C19;
}

	#kvety_panel {
    	display: none;
    }
    #darceky_panel {
    	display: none;
    }
    #dekoracie_panel {
    	display: none;
    }
    #sezona_panel {
    	display: none;
    }
    #zahrada_panel {
    	display: none;
    }
    
    #map1 {
    	display: block;
    }
    #map2 {
    	display: block;
    }
    #map3 {
        display: block;        
      }
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	aside {color:#000000;}

    nav a {
        float: left;
        width: 40%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
	
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
    
    /* slider */
	.rslides {
		display:block;
  		position: relative;
  		list-style: none;
  		overflow: hidden;
  		width: 100%;
  		padding: 0;
  		margin: 0;
  		border-top: 1px solid #406D00;
  		border-bottom: 1px solid #406D00;
  		margin-bottom: 50px;
  	}

	.rslides li {
  		-webkit-backface-visibility: hidden;
  		position: absolute;
  		display: none;
  		width: 100%;
  		left: 0;
  		top: 0;
  	}

	.rslides li:first-child {
  		position: relative;
  		display: block;
  		float: left;
  	}

	.rslides img {
  		display: block;
  		height: auto;
  		float: left;
  		width: 100%;
  		border: 0;
  	}

	.slide_caption {
		position: absolute;
		display:block;
		width:30%;
		height:100%;
		float:left;
		background: rgba(0,0,0, 0);
		color:#2D4C00;
		text-align: left;
		font-size: 1.5em;
		padding-top:15px;
	}
	
	.slide_caption h1 {
		font-size: 1.3em;
	}

	.slide_caption p {
		text-align: right;
	}
	
	
	.service_wrapper {
    	float: left;
    	width: 45%;
    	border: 1px dotted #2D4C00;
    	margin: 5px;
    	text-align: center;
    }
    
    
    
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

	.header-container {
		background-image: url(../img/background.png);
	}
	
	aside {
		color:black;
	}
	
	.fb_button {
		display:block;
		position: fixed;
		left:0;
		top:45%;
	}
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: none;
       
    }
    
    .logo {
    	margin-top:10px;
    	width: 150px;
    	height: auto;
    	display:
    	inline-block;
    	float:left
    }

	.search {
		text-align:right;
		margin-top: 20px;
		color: white;
	}
	
	.header_contact {
		float:right;
		width:70%;
		margin-top:10px;
		text-align:right;
		color: white;
	}

    nav {
    	padding-top:10px;
    	padding-right:0;
      	float: right;
        width:75%;

    }

	nav a {
		float:right;	
        width: auto;
        height: auto;
        min-width: 11%;
        margin:0;
        border-right:none;
        padding-top:8px;
        padding-bottom:8px;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 60%;
    }

    .main aside {
    	color:#000000;
        float: right;
        width: 25%;
    }
    
    .service_wrapper {
    	float: left;
    	width: 30%;
    	margin-left: 10px;
    	
    	margin-bottom: 30px;
    	text-align: center;
    }
    
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
#full_wide {
	width: 100%;
	margin: 0 auto;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}